<h1>Actors</h1>

<h2><%= @actor.name %></h2>

<div>
  <%= link_to "#{@actor.name} @ TMDb >>", "https://themoviedb.org/person/#{@actor.tmdb_id}", :class => "btn btn-info", :target => "_blank" %>
</div>


<p class="lead">Actor ID: <%= @actor.tmdb_id %>
<div><img src="https://image.tmdb.org/t/p/w185<%= @actor.profile_path %>" /></div>

<% if @watched %>
  <%= link_to "Show All", "/actors/#{@actor.tmdb_id}", :class => "btn btn-secondary" %>
<% else %>
  <%= link_to "Show Watched", "/actors/#{@actor.tmdb_id}?watched=true", :class => "btn btn-secondary" %>
<% end %>

<% appearances = titles_for_actor(@actor, @watched ? @user : nil) %>

<% if appearances[:movies].present? %>
  <h3><%= @watched ? "Watched" : "All" %> Movie Appearances</h3>
  <%= render "shared/actor_appearance_table", :titles => appearances[:movies], :title_type => "movies" %>
<% end %>

<% if appearances[:series].present? %>
  <h3><%= @watched ? "Watched" : "All" %> TV Appearances</h3>
  <%= render "shared/actor_appearance_table", :titles => appearances[:series], :title_type => "series" %>
<% end %>
