<h1><%= link_to "Movies", "/movies" %></h1>

<h2><%= @movie.name %></h2>

<div class="d-flex flex-column">
  <div>
    <%= link_to "#{@movie.name} @ TMDb >>", "https://themoviedb.org/movie/#{@movie.tmdb_id}", :class => "btn btn-info", :target => "_blank" %>
  </div>

  <div class="watch-form">
    <%= form_with(url: "/watch", method: "get", local: true) do %>
      <%= hidden_field_tag :type, "movie" %>
      <%= hidden_field_tag :tmdb_id, @tmdb_id %>
      <%= submit_tag("G R A P H", :class => "btn btn-primary") %>
    <% end %>
  </div>

  <p class="lead">Movie ID: <%= @movie.tmdb_id %>
  <div class="mb-3">
    <% if @user.watched_movie?(@tmdb_id) %>
      <%= link_to "Unwatch", "/movies/#{@tmdb_id}/unwatch", class: "btn btn-danger" %>
    <% else %>
      <%= link_to "I Watched This!", "/movies/#{@tmdb_id}/watch", class: "btn btn-success" %>
    <% end %>
  </div>
  <div><img src="https://image.tmdb.org/t/p/w185<%= @movie.poster_path %>" /></div>
</div>

<%= render "shared/actor_table", :actors => actors_for_movie(@movie) %>
