<div class="container">
  <h1>Titles</h1>
  <%= link_to "Back", "/home", :class => "btn btn-link" %>

  <br />
  <%= link_to "New Title", "/titles/new", :class => "btn btn-success" %>

  <h2><%= @movies.count %> Movies</h2>
  <%= render "shared/title_table", :type => "movie", :titles => @movies %>

  <h2><%= @series.count %> TV Series</h2>
  <%= render "shared/title_table", :type => "tv", :titles => @series %>
</div>
