<% tv_relationships.keys.each do |key| %>
  <% actor = tv_relationships[key].first[:actor] %>
  <% this_character = tv_relationships[key].first[:this_character] %>
  <div class="mb-3">
    <h4><%= actor.name %></h4>
    <p class="lead"><%= this_character %></p>
    <div class="mb-3"><img src="https://image.tmdb.org/t/p/w185<%= actor.profile_path %>" /></div>
    <p class="lead"><%= tv_relationships[key].count == 1 ? "#{tv_relationships[key].count} appearance" : "#{tv_relationships[key].count} appearances" %></p>
    <%= render "shared/collapsible_table", :div_id => "actor-#{actor.tmdb_id}-tv-table" do %>
      <table class="table">
        <thead>
          <tr>
            <th>Series</th>
            <th>Episode</th>
            <th>Episode Name</th>
            <th>Character</th>
          </tr>
        </thead>
        <tbody>
          <% tv_relationships[key].each do |relationship| %>
            <tr>
              <td><%= relationship[:series].name %></td>
              <td><%= relationship[:season].season_number.to_s + 'x' + relationship[:episode].episode_number.to_s %></td>
              <td><%= relationship[:episode].name %></td>
              <td><%= relationship[:character].character_name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
<% end %>
