<div class="container">
  <h1>Watch Movie</h1>
  <%= link_to "Back", "/home", :class => "btn btn-link" %>

  <h2><%= @movie["title"] %></h2>
  <p class="lead">Movie ID: <%= @movie["id"] %>
<p><%= link_to "#{@movie["title"]} @ TMDb", "https://themoviedb.org/movie/#{@movie["id"]}", :class => "btn btn-info", :target => "_blank" %></p>
  <div><img src="https://image.tmdb.org/t/p/w185<%= @movie["poster_path"] %>" /></div>

  <%= render "familiar_cast", :tv_relationships => @tv_relationships, :movie_relationships => @movie_relationships %>
</div>
