<div class="container">
  <h1>Watch TV</h1>
  <%= link_to "Back", "/home", :class => "btn btn-link" %>

  <h2><%= @series["name"] %></h2>
  <p class="lead">Series ID: <%= @series["id"] %>
  <p><%= link_to "#{@series["name"]} @ TMDb", "https://themoviedb.org/tv/#{@series["id"]}", :class => "btn btn-info", :target => "_blank" %></p>

  <div><img src="https://image.tmdb.org/t/p/w185<%= @series["poster_path"] %>" /></div>

  <h3>Episode <%= @episode["season_number"].to_s + "x" + @episode["episode_number"].to_s + " - " + @episode["name"] %></h2>
  <p><%= link_to "This Episode @ TMDb", "https://themoviedb.org/tv/#{@series["id"]}/#{@episode["season_number"]}/#{@episode["episode_number"]}", :class => "btn btn-info" %></p>

  <%= render "familiar_cast", :tv_relationships => @tv_relationships, :movie_relationships => @movie_relationships %>

</div>
