<h1>Series</h1>
<% if @watched %>
  <%= link_to "All", "/series?offset=#{@offset}", class: "btn btn-secondary" %>
<% else %>
  <div class="d-flex justify-items-start">
    <div>
      <%= link_to "Watched", "/series?offset=#{@offset}&watched=true", class: "btn btn-secondary" %>
    </div>
    <div>
      <%= link_to "Add New Title", "/titles/new", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
<%= render "shared/title_table", :type => "series", :titles => @series, :hide_by_default => false %>

<%= link_to "Previous", "/series?offset=#{@offset - 25}", :class => "btn #{@offset == 0 ? 'btn-disabled disabled' : 'btn-secondary'}", :hide_by_default => false %>
<%= link_to "Next", "/series?offset=#{@offset + 25}", :class => "btn btn-secondary" %>
