<!DOCTYPE html>
<html>
  <head>
    <title>Actograph</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="p-5 container">
      <ul class="nav">
        <li class="nav-item">
          <%= link_to "Actograph", "/home", :class => "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Titles</a>
          <div class="dropdown-menu">
            <%= link_to "Movies", "/movies", :class => "dropdown-item" %>
            <%= link_to "Series", "/series", :class => "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "Add New", "/titles/new", :class => "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item mr-auto">
          <%= link_to "Actors", "/actors", :class => "nav-link" %>
        </li>
        <% if @user.present? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown"href="#"><%= @user.name %></a>
            <div class="dropdown-menu">
              <%= link_to "Logout", "/logout", :class => "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown"href="#">Log In</a>
            <div class="dropdown-menu">
              <%= link_to "Log In", "/login", :class => "dropdown-item" %>
              <%= link_to "New User", "/users/new", :class => "dropdown-item" %>
            </div>
          </li>
        <% end %>
      </ul>
      <% flash.each do |type, msg| %>
        <div>
          <%= msg %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
